
    <div class="container" style="width: 840px; height: 480px; text-align: center; padding-top: 135px; padding-bottom: 135px;">
        <h1>Starting Here.</h1>
        <h4>This program built with python and scrapy framework.</h4>
        <h4>Clicking the follow button to start.</h4>
        <button type="submit" class="btn btn-success" onclick=document.location='/page/1'>Start</button>
    </div>

    <div class="footer">
        <div class="container" style="width: 840px; text-align: center; padding-top: 10px;">
            <h5>Powered by <a href="http://rickgray.me">RickGray</a></h5>
        </div>
    </div>
