$def with (data, page, maxPage)

    <div class="container" style="width: 840px; height: 480px">
        <h4>Page: $page</h4>
        <div class="container" style="width: 900px; line-height: 26px; padding-top: 15px;">
            <ul>
                $for vuln in data:
                <li>
                    <span>$vuln['date']</span>
                    <a href="/vulndb/ssvid/$vuln['ssvid']" style="padding-left: 15px;">$:vuln['title']</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container" style="width: 840px;">
        <ul class="pagination pagination-sm">

            $if maxPage <= 5*2:
                $if page == 1:
                    <li class="disabled"><a href="#">&laquo;</a></li>
                $else:
                    <li><a href="./${page-1}">&laquo;</a></li>
                $for n in range(1, maxPage+1):
                    $if n == page:
                        <li class="active"><a href="#">$n</a></li>
                    $else:
                        <li><a href="./$n">$n</a></li>
                $if page == maxPage:
                    <li class="disabled"><a href="#">&raquo;</a></li>
                $else:
                    <li><a href="./${page+1}">&raquo;</a></li>

            $elif (page < 5):
                $if page == 1:
                    <li class="disabled"><a href="#">&laquo;</a></li>
                $else:
                    <li><a href="./${page-1}">&laquo;</a></li>
                $for n in range(1, 5 + 1):
                    $if n == page:
                        <li class="active"><a href="#">$n</a></li>
                    $else:
                        <li><a href="./$n">$n</a></li>
                <li><a href="#">...</a></li>
                <li><a href="./${maxPage-1}">${maxPage-1}</a></li>
                <li><a href="./$maxPage">$maxPage</a></li>
                <li><a href="./${page+1}">&raquo;</a></li>

            $elif (page >= 5) and (page < maxPage - 4):
                <li><a href="./${page-1}">&laquo;</a></li>
                <li><a href="./1">1</a></li>
                <li><a href="./2">2</a></li>
                <li><a href="#">...</a></li>
                $for n in range(page-1, page+2):
                    $if n == page:
                        <li class="active"><a href="#">$n</a></li>
                    $else:
                        <li><a href="./$n">$n</a></li>
                <li class="disabled"><a href="#">...</a></li>
                <li><a href="./${maxPage-1}">${maxPage-1}</a></li>
                <li><a href="./$maxPage">$maxPage</a></li>
                <li><a href="./${page+1}">&raquo;</a></li>

            $elif (page > 5) and (page >= maxPage - 4):
                <li><a href="./${page-1}">&laquo;</a></li>
                <li><a href="./1">1</a></li>
                <li><a href="./2">2</a></li>
                <li><a href="#">...</a></li>
                $for n in range(maxPage-5, maxPage+1):
                    $if n == page:
                        <li class="active"><a href="./$n">$n</a></li>
                    $else:
                        <li><a href="./$n">$n</a></li>
                $if page == maxPage:
                    <li class="disabled"><a href="#">&raquo;</a></li>
                $else:
                    <li><a href="./${page+1}">&raquo;</a></li>

        </ul>
    </div>
